/* base
--------------------------------- */

.nextImg {
  font-size: 0;
}

.layout_width {
  margin: 0 auto;
  max-width: 1700px;
  width: 90%;
}

/* ヘッダー
--------------------------------- */
.header {
  position: relative;
  width: 1292px;
  height: 243.89px;
  margin: 20.64px 69px 0 79px;
  color: #2c2c2c;
}

.hd_title_area {
  display: flex;
}

.hd_title {
  margin-top: 29.13px;
}

.hd_line {
  width: 0px;
  height: 35.03px;
  border: 1px solid #4b4b4b;
  margin: 52.88px 51.05px 0 68.62px;
}

.hd_today {
  display: flex;
  margin-top: 61.65px;
}

.hd_today_txt {
  font-size: 14px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.2em;
}

.hd_language {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #4b4b4b;
}

.hd_nav {
  margin-top: 52.22px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.1em;
}

.hd_list {
  display: flex;
}

.hd_list_item {
  margin-right: 73px;
}

.breadcrumb {
  display: flex;
  position: absolute;
  left: 4.83px;
  bottom: 2px;
  color: #2c2c2c;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0.1em;
}

/* メイン
--------------------------------- */
.main {
  color: #2c2c2c;
}

.mainVisual {
  position: relative;
  margin-top: 83.38px;
}

.mainVisual_title_wrapp {
  position: relative;
  text-align: center;
}

.mainVisual_title_subTxt01 {
  display: inline-block;
  width: 94px;
  color: #fff;
  background-color: #6abc72;
  border-radius: 10px;
  padding: 6px 18px;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.mainVisual_title_subTxt02 {
  display: block;
  margin-top: 16.83px;
  font-weight: 500;
  font-family: YuGothic;
  letter-spacing: 0.15em;
}

.mainVisual_title {
  color: #454545;
  padding-top: 10.83px;
  font-family: YuGothic;
  font-weight: bold;
  font-size: 39px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.mainVisual_img {
  text-align: center;
  padding-top: 55.83px;
}

.mainVisual_img img {
  border-radius: 20px;
}

.mainVisual_explanation_wrapp {
  text-align: center;
  margin-top: 132.09px;
}

.mainVisual_explanation {
  display: inline-block;
  width: 601.26px;
  height: 78.16px;
  font-size: 16px;
  line-height: 220%;
  text-align: center;
  letter-spacing: 0.2em;
}

.mainVisual_read_wrapp{
  text-align: center;
  margin-top: 67.78px;

}

.mainVisual_read {
  display: inline-block;
  width: 903.73px;
  height: 568.49px;
  font-size: 16px;
  line-height: 220%;
  letter-spacing: 0.1em;
  text-align: start;
}

.mainVisual_read_item{
  margin-top: 46px;
}

/* フッター
--------------------------------- */
.footer {
}
